<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/style.css' />
</head>
<body>

<%- include('parts/nav'); %>
<div>
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a porta dui. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a porta dui. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a porta dui. </p>
    <img src="../static/images/bird-9170927_1280.jpg" width=auto height=100px>
    <img src="../static/images/cat-9169528_1280.jpg" width=auto height=100px>
    <img src="../static/images/dogs-9172481_1280.jpg" width=auto height=100px>
</div>
<%- include('parts/footer'); %>
</body>
</html>