<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/style.css' />
</head>
<body>

<%- include('parts/nav'); %>
<div>
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a porta dui. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a porta dui. </p>

</div>
<section>
<table>
    <tr><th>costam</th><th>meow</th></tr>
    <tr><td>woof</td><td>cwir</td></tr>
    <tr><td>putain</td><td>kanker</td></tr>
</table>
</section>
<%- include('parts/footer'); %>
</body>
</html>